<!DOCTYPE html>
<html>
<head>
    <title>Add Contact (Email/Phone)</title>
</head>
<body>
    <h2>Add Contact Information (Email/Phone)</h2>
    <a href="/home">Staff Homepage</a>
    <hr>

    <form action="/add_staff_contact" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter email"><br>

        <label for="phone">Phone Number:</label>
        <input type="text" name="phone" placeholder="Enter phone number"><br>

        <input type="submit" value="Add Email/Phone">
    </form>
</body>
</html>