<!DOCTYPE html>
<html>
<head>
    <title>Airline Staff Home</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <h1>Welcome, {{ first_name }}!</h1>
    <h2>{{ first_name }} Works For {{ airline_name }}</h2>

    <hr>

    <!-- View Flights -->
    <h2>View Flights</h2>
    <a href="/view_staff_flights">Click Here to View Flights</a>
    <hr>
    

    <!-- Create New Flight -->
    <h2>Create New Flight</h2>
    <a href="/create_flight">Click Here to Create a New Flight</a>
    <hr>

    <!-- Change Flight Status -->
    <h2>Change Flight Status</h2>
    <a href="/change_flight_status">Click Here to Update Flight Status</a>
    <hr>

    <!-- Add New Airplane -->
    <h2>Add New Airplane</h2>
    <a href="/add_airplane">Click Here to Add New Airplane</a>
    <hr>

    <!-- Add New Airport -->
    <h2>Add New Airport</h2>
    <a href="/add_airport">Click Here to Add New Airport</a>
    <hr>

    <!-- View Flight Ratings -->
    <h2>View Flight Ratings</h2>
    <a href="/view_flight_ratings">Click Here to View Flight Ratings</a>
    <hr>

    <!-- Schedule Maintenance -->
    <h2>Schedule Maintenance</h2>
    <a href="/schedule_maintenance">Click Here to Schedule Airplane Maintenance</a>
    <hr>

    <!-- View Frequent Customers -->
    <h2>View Frequent Customer</h2>
    <a href="/view_frequent_customer">Click Here to View Frequent Customers</a>
    <hr>

    <!-- View Earned Revenue -->
     <h2>View Earned Revenue</h2>
    <a href="/view_earned_revenue">Click Here to View Earned Revenue</a>
    <hr>

    <!-- Addind Additional  Email/Phone-->
    <h2>Update Contact Information</h2>
    <a href="/add_staff_contact">Click Here to Add Contact Info</a>
    <hr>

 </body>
 </html>
